extends ../../layout/layoutDefault.pug

block main 
  .container 
    //-  category
    .container-category 
      .title-category-header 
        h4 Danh mục sản phẩm
      .inner-category 
        each item in categories 
          .box-category 
            img(src = item.thumbnail alt="Error" class = "image-category")
            span(class = "title-category") #{item.title}

    //- container-product
    .container-product 
      .title-product-header 
        h4 Sản phẩm mới nhất
      .row 
        each item in products  
          .col-3.mb-2
            .box-item
              .box-image 
                span(class = "discount") -#{item.discountPercentage}%
                a(href=`/product/detial/${item.slug}`) 
                  img(src= item.thumbnail class = "image-product" alt=item.title)
              .box-main 
                a(href=`/product/detial/${item.slug}`) 
                  span(class = "title") #{item.title}
                span(class = "price") #{item.price} $
      .see-more 
        a(href="#" class = "btn-see-more") Xem thêm sản phẩm <i class="fa-solid fa-arrow-right"></i>
