extends ../../layout/layoutDefault.pug

block main 
  .container 
    //-  category
    .container-category
      .title-category-header
        h4 Danh mục sản phẩm


      .inner-category#categoryScroll
        each item in categories
          a.box-category(href=`/category/${item.slug}`)
            img.image-category(src=item.thumbnail alt=item.title)
            span.title-category= item.title

    //- container-product
    .container-product 
      .title-product-header 
        h4 Sản phẩm mới nhất

      .row 
        if products 
          each item in products  
            .col-xl-2.col-lg-3.col-md-4.col-sm-6.mb-4
              .box-item
                .box-image 
                  if item.discountPercentage > 0
                    span.discount -#{item.discountPercentage}%
                  a(href=`/product/detail/${item.slug}`) 
                    img.image-product(src=item.thumbnail alt=item.title)

                .box-main 
                  a.title-link(href=`/product/detail/${item.slug}`) 
                    h5.title #{item.title}

                  .price-group
                    span.price-new #{(item.price * (1 - item.discountPercentage/100)).toLocaleString('vi-VN')}đ

          .see-more 
            a.btn-see-more(href="#") 
              | Xem thêm 
              i.fa-solid.fa-arrow-right.ms-2
