extends ../../layout/layoutDefault.pug
include ../../mixins/header-menu.pug
include ../../mixins/box-alert.pug

block main 
  +header-menu("Chỉnh sửa sản phẩm" )

  +box-alert-success()
  +box-alert-error()

  .container
    .card.mb-5.text-start.mt-4
      .card-body
        form(
          method="post",
          action=`/admin/product/edit/${product._id}?_method=PATCH`, 
          id="form-edit-product"
          enctype="multipart/form-data" 
        )
          .form-group.mb-3
            label.mb-2(for="title") Tiêu đề sản phẩm
            input(
              type="text", 
              class = "form-control" 
              name="title" 
              id="title", 
              required
              value = product.title
            )

          .form-group.mb-3
            label.mb-2(for="description") Mô tả
            textarea(name="description", 
              class = "form-control textarea-mce" id="description"
              ) #{product.description || ""} 

          .form-group.mb-3
            label.mb-2(for="price") Giá sản phẩm
            input(type="number", 
              class = "form-control"
              name="price" 
              id="price", 
              min="0" 
              step="0.01" 
              required
              value = product.price
              )

          .form-group.mb-3
            label.mb-2(for="discountPercentage") Giảm giá (%)
            input(type="number",
              class = "form-control" name="discountPercentage" id="discountPercentage" min="0" max="100" step="0.01"
              value = product.discountPercentage
              )

          .form-group.mb-3
            label.mb-2(for="stock") Số lượng tồn kho
            input(type="number" ,
              class = "form-control" 
              name="stock" 
              id="stock" 
              min="0"
              value = product.stock
              )

          .form-group.mb-3
            label.mb-2(for="thumbnail") Ảnh đại diện
            input(type="file",
              class = "form-control" 
              name="thumbnail" 
              id="thumbnail" 
              accept="image/*")
            img(src= product.thumbnail ,
              id = "preview" 
              alt="" 
              style="max-width: 150px; margin-top: 10px; border-radius : 12px ;"

              )

          .form-group.mb-3
            label.mb-2(for="status") Trạng thái
            select( class = "form-control" name="status" id="status")
              option(value="active" selected = (product.status == "active" ? true : false) ) Hoạt động
              option(value="inactive" selected = (product.status == "inactive" ? true : false) ) Không hoạt động

          .form-group.mb-4
            label.mb-2(for="position") Vị trí hiển thị
            input(type="number",
              class = "form-control" 
              name="position" 
              id="position"
              min="0" 
              placeholder="Tự động tăng" 
              value = product.position
              )

          button(type="submit" class = "button-box-menu") Cập nhật 