mixin box-item(listItem  , title , keySearch = "")
  .container.mt-2
    .container-wraper
      .container-menu 
        .row
          .col-3.col-md-3
            div(class = "box-menu") 
              i(class = "fa-solid fa-magnifying-glass text")
              form(
                action=""
                form-Search
                )
                input(
                  type="text" 
                  class = "box-default text" 
                  placeholder = "Search"
                  name = "keySearch"
                  value = keySearch 
                  ) 
          .col-2.col-md-2
            div(class = "box-menu")
              select(name="" class = "box-default text" select-change-status)
                option(value="") -- Trạng thái -- 
                option(value="active") Hoạt động
                option(value="inactive") Ngừng 

          .col-2.col-md-2
            div(class = "box-menu")
              select(name="" class = "box-default text")
                option(value="" active class = "box-default text") -- Danh mục --
          .col-2.col-md-2
            div(class = "box-menu")
              select(name="" class = "box-default text" select-change-multiple)
                option(value="" active class = "box-default text") -- Hành động --
                option(value="delete") Xóa 
                option(value="active") Hoạt động
                option(value="inactive") Ngừng hoạt động

          .col-2.col-md-2
            //- div(class = "box-menu")
            //-   select(name="" class = "box-default text" select-change-position)
            //-     option(value="") -- Sắp xếp theo --
            //-     option(value="position-asc") Vị trí tăng dần 
            //-     option(value="position-desc") Vị trí giảm dần 
            //-     option(value="price-asc") Giá tăng dần 
            //-     option(value="price-desc") Giá giảm dần

          .col-1.col-md-1
            div(class = "box-menu box-menu-icon")
              i(class = "fa-solid fa-rotate text")
      .container-header-item
        .row 
          .col-1.text 
            div 
              input(type="checkbox" name="check-all")
          .col-3.text 
            div Tên #{title} 
          .col-2.text 
            div Ảnh  
          .col-2.text 
            div giá 
          .col-1.text 
            div Số lượng 
          .col-1.text 
            div Ví trí 
          .col-2.text 
            div Trạng thái 
      .container-list-item(
      )
        each item in listItem
          .row.box-item
            .col-1 
              div 
                input(type="checkbox" 
                  name = "id" 
                  data-id = item.id
                )
            .col-3
              div(class = "box-title") 
                div.title.text  #{item.title}
                .box-sub-menu 
                  a( class = "btn-detail" href="/admin/product/detail/" + item.id) Chi tiết 
                  if role.permissions.includes("product_edit")
                    a(class = "btn-revise" href = `/admin/product/edit/` + item.id) Sửa
                  if role.permissions.includes("product_delete")
                    button(class = "btn-delete"
                      data-id = item.id
                      data-title = item.title
                      ) Xóa
                  if item.status == "inactive"
                    button(class = "btn-active"
                      change-status = `${item.status}-${item.id}`
                      ) Hoạt động 
                  else 
                    button(class = "btn-inactive"
                      change-status = `${item.status}-${item.id}`
                      ) Ngừng hoạt động

            .col-2.text 
              div 
                img(src=item.thumbnail, alt=item.title)  
            .col-2
              div.text  #{item.price} 
            .col-1
              div.text  #{item.stock} 
            .col-1
              div.text  #{item.position} 
            .col-2  
              div.text    
                if item.status == "active"
                  button(class = "status-item active text  ") Hoạt động  
                else 
                  button(class = "status-item inactive text ") Ngừng hoạt động 