mixin box-item-account(listItem   , keySearch = "")
  .container.mt-2
    .container-wraper
      .container-menu 
        .row
          .col-3.col-md-3
            div(class = "box-menu") 
              i(class = "fa-solid fa-magnifying-glass text")
              form(
                action=""
                form-Search
                )
                input(
                  type="text" 
                  class = "box-default text" 
                  placeholder = "Search"
                  name = "keySearch"
                  value = keySearch 
                  ) 
          .col-2.col-md-2
            div(class = "box-menu")
              select(name="" class = "box-default text" select-change-status)
                option(value="") -- Trạng thái -- 
                option(value="active") Hoạt động
                option(value="inactive") Ngừng hoạt động

          .col-2.col-md-2
            div(class = "box-menu")
              select(name="" class = "box-default text" select-change-multiple)
                option(value="" active class = "box-default text") -- Hành động --
                option(value="delete") Xóa 
                option(value="active") Hoạt động
                option(value="inactive") Ngừng hoạt động

          .col-2.col-md-2
          .col-1.col-md-1
            div(class = "box-menu box-menu-icon")
              i(class = "fa-solid fa-rotate text")
      .container-header-item
        .row 
          .col-1 
            div 
              input(type="checkbox" name="check-all")
          .col-3
            div.text  Tên tài khoản  
          .col-3
            div.text  Email 
          .col-3
            div.text  Chức vụ 
          .col-2
            div.text  Trạng thái
      .container-list-item(
      )
        each item in listItem
          .row.box-item
            .col-1 
              div 
                input(type="checkbox" 
                  name = "id" 
                  data-id = item.id
                )
            .col-3
              div(class = "box-title") 
                div.title.text  #{item.fullName}
                .box-sub-menu 
                  a( class = "btn-detail" href="/admin/product/detail" + item.id) Chi tiết 
                  a(class = "btn-revise" href = `/admin/acount/edit` + item.id) Sửa
                  button(class = "btn-delete"
                    data-id = item.id
                    data-title = item.fullName
                    ) Xóa
                  if item.status == "inactive"
                    button(class = "btn-active"
                      change-status = `${item.status}-${item.id}`
                      ) Hoạt động 
                  else 
                    button(class = "btn-inactive"
                      change-status = `${item.status}-${item.id}`
                      ) Ngừng hoạt động
            .col-3
              div.text  #{item.email} 
            .col-3
              div.text  #{item.role.title} 
            .col-2
              div   
                if item.status == "active"
                  button(class = "status-item active text") Hoạt động  
                else 
                  button(class = "status-item inactive text") Ngừng hoạt động 