extends ../../layout/layoutDefault.pug

block main
  .container.my-3

    .container-cart 
      .title-category-header 
        h4 Sản phẩm của bạn
      .inner-cart 
        .row
          .col-12
            if products.length > 0
              table(class="table table-bordered")
                thead
                  tr
                    th STT
                    th Ảnh
                    th Tên sản phẩm
                    th Giá
                    th Số lượng
                    th Tổng tiền
                tbody
                  each item, index in products
                    tr
                      td #{index + 1}
                      td
                        img(
                          src=item.thumbnail
                          alt=item.title
                          width="80px"
                        )
                      td
                        a(href=`/product/detail/${item.slug}`) #{item.title}
                      td= Number(item.newPrice).toLocaleString('vi-VN') + ' đ'
                      td
                        input(
                          type="number"
                          name="quantity"
                          value=item.quantity
                          min="1"
                          product-id=item.id
                          style="width: 60px"
                        )
                      - const totalPriceItem =  item.quantity * item.newPrice
                      td=totalPriceItem.toLocaleString('vi-VN') + ' đ'

              h4(class="text-right") Tổng tiền: #{(totalPrice.toLocaleString('vi-VN') + ' đ')}


            else
              div(class="alert alert-warning")
                | Giỏ hàng của bạn đang trống. 
                a(href="/") Mua sắm ngay!
    .container-cart.mt-5
      if error.length > 0
        .error-message#errorMessage
          | #{error}
      if success.length > 0
        .success-message#successMessage
        | #{success}
      .title-category-header 
        h4 Sản phẩm của bạn
      .inner-cart-order
        form(action="/checkout/order" method="post") 
          .form-group.mb-3
            input(type="email"  name = "email" class = "form-control" placeHolder = "Email")
          .form-group.mb-3
            input(type="text" name = "fullName" class = "form-control" placeHolder = "Họ và tên")
          .form-group.mb-3
            input(type="text" name = "phone" class = "form-control" placeHolder = "Số điện thoại")
          .form-group.mb-3
            input(type="text" name = "address" class = "form-control" placeHolder = "Địa chỉ nhận")

          .form-group 
            button(type = "submit" class="btn btn-success") Thanh toán


block script 
  script(src="/client/js/cart.js") 
