extends ../../layout/layoutDefault.pug

block main
  .container.my-3
    if error.length > 0
      .error-message#errrorMessage
        | #{error}
    if success.length > 0
      .success-message#successMessage
        | #{success}

    .container-cart 
      .title-category-header 
        h4 Sản phẩm của bạn
      .inner-cart 
        .row
          .col-12
            if products.length > 0
              table(class="table table-bordered")
                thead
                  tr
                    th STT
                    th Ảnh
                    th Tên sản phẩm
                    th Giá
                    th Số lượng
                    th Tổng tiền
                    th Hành động
                tbody
                  each item, index in products
                    tr
                      td #{index + 1}
                      td
                        img(
                          src=item.thumbnail
                          alt=item.title
                          width="80px"
                        )
                      td
                        a(href=`/product/detail/${item.slug}`) #{(item.title)}
                      td #{(Number(item.newPrice).toLocaleString('vi-VN') + ' đ')}$
                      td
                        input(
                          type="number"
                          name="quantity"
                          value=item.quantity
                          min="1"
                          product-id=item.id
                          style="width: 60px"
                        )
                      td #{(Number(item.quantity * item.newPrice).toLocaleString('vi-VN') + ' đ')}
                      td
                        a(
                          href=`/cart/delete/${item.id}`
                          class="btn btn-danger"
                        ) Xóa

              h4(class="text-right") Tổng tiền: #{(totalPrice.toLocaleString('vi-VN') + ' đ')}

              div(class="text-right mt-3")
                a(href="/checkout" class="btn btn-success") Thanh toán

            else
              div(class="alert alert-warning")
                | Giỏ hàng của bạn đang trống. 
                a(href="/") Mua sắm ngay!
block script 
  script(src="/client/js/cart.js") 
